.InicioSesionGeneral{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0 5rem;
    gap: 1rem;
}

.TitulosInicioSesion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.login__inputs {
  flex-grow: 3;
}

.TituloIniciarSesion{
    font-size: $fontSizeHeading;
}

.CajasTextoInicioSesion{
    padding-bottom: 50px;
    padding-top: 40px;
}

.BotonLinkfinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.login__img {
  flex-grow: 2;
  img {
    width: 40vw;
  }
}