.navbar {
    @include flexbox;
    width: 100%;
    align-content: center;
    justify-content: flex-end;
    gap: 3rem;
    padding: 1rem;
}

.navbar__option {
    @include flexbox;
    align-items: center;
    color: $navbarOrangeColor;
    font-size: 1.5rem;
}

.--antd-wave-shadow-color {
  color: white;
}

.navbar__option--selected {
  @include flexbox;
  align-items: center;
  &:hover {
    color: white;
  }
  background-color: $navbarOrangeColor;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px 0px;
}
